    font-family: 'proxima_novablack';

    font-family: 'proxima_nova_rgbold';

    font-family: 'proxima_nova_rgbold_italic';

    font-family: 'proxima_nova_condensedRgIt';

    font-family: 'proxima_nova_condensedSBd';

    font-family: 'proxima_nova_condensedSBdIt';

    font-family: 'proxima_novaextrabold';

    font-family: 'proxima_novalight';

    font-family: 'proxima_novalight_italic';

    font-family: 'proxima_nova_rgregular';

    font-family: 'proxima_novaregular_italic';

    font-family: 'proxima_novasemibold';
    
    font-family: 'proxima_novasemibold_italic';
