body
 {
     background:#f6f7f8;
 }
#header
{
    background:#45619D;
    padding: 20px;
    color: #f6f7f8;
}
#content
{
    background:#E9EAED;
    padding: 20px;
}
#footer
{
    background:#45619D;
    padding: 20px;
}
.error
{
    color: red;
}