body {
  font-family: Open Sans,sans-serif;
  font-weight: 300;
}
#home header #logo {
	max-width: 200px;
	padding: 26px 0;
	border-right:  1px solid rgba(255, 255, 255, 0.2); 
}
#home .affix #logo ,#home .affix .menu{
	border-right-color: rgba(0, 0, 0, 0.1);
}
/* Begin Style Header Menu */
#home header {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
	z-index: 999;
	position: relative;
}
#home .affix {
	border-bottom-color: rgba(0, 0, 0, 0.1); 
}
#home header .menu{
	border-right: 1px solid rgba(255, 255, 255, 0.2); 
}
#home header>.container {
	width: 100%;
}
#home header .hide-menu {
	line-height: 90px;
}
#home .affix .hide-menu {
	line-height: 100px;
}
#home header .hide-menu span{
	color: #000000;
	padding: 25px 30px;
}
#home header .menu li {
	position: relative;
}
#home header .menu li a{
	line-height: 90px;
	padding-top: 0;
	padding-bottom: 0;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	display: inline-block;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
	-o-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
	transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
}
#home .affix .menu li a{
	line-height: 100px;
	padding-top: 0;
	padding-bottom: 0;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 12px;
	display: inline-block;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
	-o-transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
	transition: height .4s ease, line-height .4s ease, margin .4s ease, padding .4s ease;
}
#home header .menu ul.sub-menu {
	display: none;
	position: absolute;
	width: 220px;
	background-color: #333;
	box-shadow: 0px 13px 42px 11px rgba(0, 0, 0, 0.05);
	border:1px solid #eee;
	border-top: 2px solid #1ABC9C;
	height: auto;
	z-index: 199;
	top: 140px;
	left: 0;
	margin: 0;
	border-color: #1abc9c #3f3f3f #3f3f3f;
	padding-left: 0px;

}
#home .affix .menu ul.sub-menu{
	top: 100px ;
}
#home header .menu li a:hover,#home header .menu li.active a,#home header .menu li a:focus,#home header a:hover span,#home .affix .menu li a:hover,#home .affix .menu li.active a,#home .affix .menu li a:focus,#home .affix a:hover span{
	background: none !important;
	color: #22b8f0 !important;
}
/* End Style Header Menu */
/* Begin Style FixMenu */
.affix {
	top: 0;
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	background-color: #fff;
	border-color: #fff;
	position: fixed !important;
  }
  .affix ul a {
      color: #000 !important;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
  }
  .affix-top  a {
      padding: 25px !important;
  }
/* End Style FixMenu */

/* Begin Style Sub Menu */


#home header ul.menu ul.sub-menu li {
	list-style: none;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#home header .menu  li:hover ul.sub-menu{ 
	display: block;
}
#home header ul.menu  ul.sub-menu li a{
	color: #ccc !important;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 30px;
	text-decoration: none;
	opacity: 0.5;
	text-shadow:none;
	text-transform:uppercase;
	font-weight: 500;
	transition: all 0.2s ease-in-out 0s;
	padding: 0 !important;
}
#home header ul.menu  ul.sub-menu li:hover {
	background-color: rgba(0, 0, 0, 0.1) !important;
	color: #ccc !important;
	list-style: none;
}
#home header ul.menu  ul.sub-menu li a:hover,#home header ul.menu  ul.sub-menu li:hover a{
	padding-left: 20px !important;
	color: #fff !important;
	opacity: 1 !important;
}
/* End Style Sub Menu */


/* Begin Style Banner */

#home #banner {
	height: 696px;
	width: 100%;
	background: url(../images/feature-bg1.jpg);
	margin-top: -150px;
}
#home #banner #text-banner{
	position: relative;
	top: 220px;
	text-align: center;
	margin: 0 auto;
	font-size: 18px;
	color: #fff;
}
#home #banner #text-banner h1{
	font-size: 72px;
	font-weight: 800;
}
#home #banner #text-banner a{
	font-size: 18px;
	padding: 10px 16px;
	line-height: 1.33;
}
/* End Style Banner */

/* Begin Style Welcome*/
#welcome {
	margin-top: 30px; 
}
#welcome h3{
	margin-top: 140px; 
	color: #ff4be7;
	font-size: 20px;
}
#welcome p{
	color: #b0b0b0;
}
#welcome a{
	padding: 15px 30px;
	background-color:#5bc0de;
	color: #fff;
	border-color:  #5bc0de;
}
#welcome #welcom-bot{
	margin-top: 75px; 
	text-align: center;
	margin-bottom: 100px;
}
#welcome #welcom-bot i {
	font-size: 42px;
}
#welcome #welcom-bot h1{
	font-size: 24px;
}

/* End Style Welcome */

/* Begin Style Video*/
#video {
	padding: 100px 0;
	background: #f5f5f5;
}
#video #video-text p{
	margin: 20px 0;
}
#video #video-text a{
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 16px;
	background-color: #2e2e2e;
	border-color: #2e2e2e;

}

/* End Style Video */

/* Begin Style Showcase*/
#showcase {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 75px;
}

/* End Style Showcase */

/* Begin Style Images*/
#images .container{
	width: 100%;
}
#images .container .col-xs-12,#images .container .col-sm-3,#images .container .col-md-3 ,#images .container .col-lg-3{
	padding: 0;
}

/* End Style Images */

/* Begin Style Person*/
#person {
	text-align: center;
	padding: 100px 0;
	background-color: #f5f5f5;
}
#person p{
	font-size: 18px;
	line-height: 26px;
	margin: 20px 0;
}
#person h1{
	font-size: 14px; 	
	font-weight: bold;
}
#person img{
	margin: 0 auto;

}
#person a{
	border: 2px solid #333;
	border-radius: 4px;
	box-sizing: initial;
	color: #888;
	display: inline-block;
	font-size: 18px;
	height: 28px;
	line-height: 28px;
	margin: 5px 3px 0;
	text-align: center;
	width: 28px;

}

/* End Style Person */

/* Begin Style Highly*/
#highly {
	padding: 125px 0 100px 0;
}
#highly img{
	margin-top: 65px;
}

/* End Style Highly */

/* Begin Style Create-helix*/
#create-helix {
	padding: 100px 0;
	background-image: url(../images/cta-bg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
}
#create-helix a{
	margin-top: 50px;
	background-color: #2d2d2d;
	border-color: #2d2d2d;
	color: #fff;
	border-radius: 6px;
	font-size: 18px;
	line-height: 1.33;
	padding: 10px 16px;
}

/* End Style Create-helix */

/* Begin Style Create-helix*/
#footer {
	padding: 100px 0;
	background-color: #f5f5f5;
	color: #888888;
}
#footer h1{
	color: #000;
}
#footer ul {
	padding: 0;
	margin: 0;
}
#footer ul li {
	list-style: none;
	border-bottom: 1px solid #e8e8e8;
	padding: 15px 0;

}
#footer ul li a{
	color: #888888;
	text-decoration: none;
}
#footer ul li a:hover{
	color: #eb4947;
}
#footer ul li.last-child {
	border: none;
}

#footer ul.menu-befor li a:before {
	content: "";
	font-family: FontAwesome;
	margin-right: 8px;
}

/* End Style Create-helix */

/* Begin Style Copyright*/
#copyright {
	padding-top: 25px;
	padding-bottom: 15px;
	background-color: #2e2e2e;
	color: #c7c7c7;
	text-align: center;
}


/* End Style Copyright */